<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue event handling</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.js"></script>
    <style media="screen">
      .error{color: red;}
    </style>
</head>
<body>
    <div id="app">
        <form v-on:submit.prevent="handleIt">
          <span class="error" v-if="!message">You must enter a message!</span>
          <br>
          <textarea v-model="message"></textarea>
          <br>
          <button type="submit" name="button" v-show="message">Send messge</button>
        </form>
    </div>
    <script>
        new Vue({
            el: "#app",
            data:{
                message: ''
            },
            methods: {
              handleIt: function(){
                alert('Message was sent successfully (Event triggered...)');
              }
            }
        });
    </script>
</body>
</html>
